<div>
  <h2 id="page-heading" data-cy="PratoHeading">
    <span jhiTranslate="nossaComidaApp.prato.home.title">Pratoes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="nossaComidaApp.prato.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-prato"
        [routerLink]="['/prato/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="nossaComidaApp.prato.home.createLabel"> Create a new Prato </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pratoes?.length === 0">
    <span jhiTranslate="nossaComidaApp.prato.home.notFound">No pratoes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pratoes && pratoes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="nossaComidaApp.prato.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="nossaComidaApp.prato.cardapio">Cardapio</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prato of pratoes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/prato', prato.id, 'view']">{{ prato.id }}</a>
          </td>
          <td>{{ prato.nome }}</td>
          <td>
            <div *ngIf="prato.cardapio">
              <a [routerLink]="['/cardapio', prato.cardapio?.id, 'view']">{{ prato.cardapio?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/prato', prato.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/prato', prato.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(prato)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
